/* HEADER */

header {
    background: #BBBBBB;
    padding: 20px;
    margin: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.header-box {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

/* FIM DO HEADER */

/* TÍTULO PRINCIPAL */

.first-title {
  padding-left: 20px;
}

/* FIM DO TÍTULO PRINCIPAL */

/*BANNER*/

#banner {
  width: 100%;
}

/* FIM DO BANNER */

/* SEÇÃO SOBRE */

.section-about {
  background: #cccccc;
  padding: 30px;
  text-align: center;
}

#mission {
    font-size: 20px;
}

em strong {
    color: #FF0000;
}

/* FIM DA SEÇÃO SOBRE */

/* SEÇÃO BENEFÍCIOS */

.section-benefits {
    background: #FFFFFF;
    padding: 20px;
}

.section-benefits h3 {
    text-align: center;
}

.section-benefits ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens {
    font-style: italic;
}

.img-benefits {
    width: 50%;
}

/* FIM DA SEÇÃO BENEFÍCIOS */

 /*FOOTER*/

 footer {
    background-image: url("bg.jpg");
    text-align: center;
    padding: 40px 0;
  }
  
  footer p{
      color: #FFFFFF;
      font-size: 13px;
      margin: 20px 0 0;
  }

 /*FIM DO FOOTER*/