body {
	font-family: 'Montserrat', sans-serif;
}

/* HEADER */

header {
    background: #BBBBBB;
    padding: 20px 0;
}

.header-box {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

/* FIM DO HEADER */

/*BANNER*/

.banner {
  width: 100%;
}

/* FIM DO BANNER */

/* SEÇÃO SOBRE */

.main-title {
    text-align: center;
    font-size: 2em;
    clear: left;
    margin: 0 0 1em;
}

.section-about {
  background: #FEFEFE;
  padding: 3em 0;
  width: 940px;
  margin: 0 auto;
}
  
.section-about p{
    margin: 0 0 1em;
}

.section-about em {
    font-style: italic;
}

.section-about strong{
    font-weight: bold;
}

.tools {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

/* FIM DA SEÇÃO SOBRE */

/* SEÇÃO MAPA */

.section-map {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}

.section-map p{
    margin: 0 0 2em;
    text-align: center;
}

.map-content {
    width: 940px;
    margin: 0 auto;
}

/* FIM DA SEÇÃO MAPA */

/* SEÇÃO BENEFÍCIOS */

.section-benefits {
    padding: 3em 0;
    background: #888888;
}

.benefits-content {
    width: 640px;
    margin: 0 auto;
}

.benefits-list {
    width: 35%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
}

.itens:first-child {
    font-weight: bold;
}

.itens:before {
	content: "🟊";
}

.img-benefits {
    width: 60%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 10px #000000;
}

.img-benefits:hover {
    opacity: 0.3;
}

.video {
	width: 560px;
	margin: 2em auto;
}

/* FIM DA SEÇÃO BENEFÍCIOS */

 /*FOOTER*/

 footer {
    background-image: url("bg.jpg");
    text-align: center;
    padding: 40px 0;
  }
  
  footer p{
      color: #FFFFFF;
      font-size: 13px;
      margin: 20px 0 0;
  }

 /*FIM DO FOOTER*/

 /* FORMULÁRIO PÁGINA DE CONTATO */

.contact {
    width: 940px;
    margin: 0 auto;
}

.contact form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.standard-input {
    display: block;
    width: 50%;
    margin: 0 0 20px;
    padding: 10px 25px;
}

.checkbox {
    margin: 20px 0;
}

.send-input {
    width: 40%;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    padding: 15px 0;
    background: orange;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.send-input:hover {
    background: darkorange;
    transform: scale(1.2);
}

table {
    margin: 20px 0 40px;
}

thead {
    color: white;
    font-weight: bold;
    background: #555555;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

  /* FIM FORMULÁRIO PÁGINA DE CONTATO */